version: '3.8'

services:
  freeswitch:
    build:
      context: .
      args:
        SIGNALWIRE_TOKEN: ${USER_TOKEN}  # Env var'dan çek
    container_name: freeswitch-bridge
    restart: unless-stopped
    network_mode: host  # En düşük latency: NAT olmadan direkt host portları kullan
    ulimits:
      nofile: 65535  # Yüksek bağlantı için
      rtprio: 99     # Realtime priority
    cap_add:
      - SYS_NICE
      - SYS_RESOURCE
    volumes:
      - ./freeswitch-config:/etc/freeswitch  # Config tweak için dışarı al (rtp-autoflush=true, chunk size 20ms)
      - ./freeswitch-logs:/var/log/freeswitch
      - ./freeswitch-db:/var/lib/freeswitch/db
    environment:
      - TZ=Europe/Istanbul

# Ekstra: Config'de düşük latency ayarları (freeswitch-config/autoload_configs/switch.conf.xml)
# <param name="rtp-autoflush-during-bridge" value="true"/>
# <param name="rtp-timer-mult" value="1"/>
# mod_audio_stream.conf.xml'de: chunk-size="20" overlap="10"
