# docker-compose.yml
version: '3.8'
services:
  freeswitch:
    build: .
    container_name: freeswitch-pipecat
    network_mode: host
    restart: unless-stopped
    volumes:
      - ./freeswitch/conf:/usr/local/freeswitch/conf
      - ./freeswitch/recordings:/usr/local/freeswitch/recordings
      - ./freeswitch/storage:/usr/local/freeswitch/storage
      - freeswitch-sounds:/usr/local/freeswitch/sounds
    environment:
      - FREESWITCH_LOG_LEVEL=INFO
    cap_add:
      - SYS_NICE
      - SYS_RESOURCE
    ulimits:
      core: -1
      nofile:
        soft: 999999
        hard: 999999
      stack: 240
volumes:
  freeswitch-sounds:
