# docker-compose.yml
version: '3.8'

services:
  freeswitch:
    build:
      context: .
      secrets:
        - USER_TOKEN
    container_name: freeswitch-pipecat
    network_mode: host
    restart: unless-stopped
    volumes:
      - ./freeswitch/conf:/etc/freeswitch
      - ./freeswitch/recordings:/var/lib/freeswitch/recordings

secrets:
  USER_TOKEN:
    environment: USER_TOKEN
