version: '3.8'
services:
  freeswitch:
    build: .
    container_name: freeswitch-pipecat
    network_mode: host
    restart: unless-stopped
    # Volume'leri ŞİMDİLİK devre dışı bıraktık.
    # Önce sistem bir çalışsın, ayarları sonra dışarı alırız.
    # volumes:
    #   - ./freeswitch/conf:/etc/freeswitch
    #   - ./freeswitch/recordings:/var/lib/freeswitch/recordings
    
    environment:
      - FREESWITCH_LOG_LEVEL=INFO
    cap_add:
      - SYS_NICE
      - SYS_RESOURCE
      - NET_ADMIN
    ulimits:
      core: -1
      nofile:
        soft: 65536
        hard: 65536
